<section class="articles">
  <div class="articles-container">
    @if (isLoading()) {
      <blog-app-spinner/>
    } @else {
      <ul class="articles-list">
        @for (article of articles(); track article.id) {
          <li>
            <blog-app-article-item
              [data]="article"
              (delete)="deleteArticle.emit($event)"
              (edit)="editArticle.emit($event)"
            />
          </li>
        } @empty {
          <div class="articles-list--empty"></div>
        }
      </ul>
    }
  </div>

  @if (articles().length > 0) {
    <div class="article-list-control">
      @if (quantityPages() !== 1) {
        @if (page() !== 1) {
          <blog-app-button
            buttonText="&larr; Предыдущие"
            [variant]="buttonVariant"
            (callback)="prevButtonCallback.emit()"
          />
        }
        @if (page() !== quantityPages() && page() !== 1) {
          <span>{{ page() }}</span>
        }
        @if (page() !== quantityPages()) {
          <blog-app-button
            buttonText="Слудеющие &rarr;"
            [variant]="buttonVariant"
            (callback)="nextButtonCallback.emit()"
          />
        }
      }
    </div>
  }
</section>
