@use "abstract" as abs;

.articles {
  margin-bottom: abs.$sections-gap;
}

.articles > blog-app-button {
  display: block;
  text-align: center;
}

.articles-container {
  position: relative;
  min-height: 200px;
}

.articles-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 34px;
  row-gap: 64px;
  list-style: none;
  padding: 0;
  margin: 0 0 64px 0;

  &--empty {
    grid-column: span 3;
    text-align: center;
    padding-bottom: abs.$sections-gap * 2;

    &::after {
      content: "Нет статей";
      color: abs.$color-secondary;
    }
  }

  & > li:first-child {
    grid-column: span 3;

    ::ng-deep .article {
      background-color: abs.$color-featured;
      border-radius: abs.$large-radius;
      flex-direction: row;
      gap: 46px;
      margin-bottom: 62px;

      img {
        $img-width: 60%;
        max-width: $img-width;
        flex: 0 0 $img-width;
        aspect-ratio: auto;
      }

      .article__content {
        display: block;
        padding: 23px 28px 0 0;

        h2 {
          display: block;
          @include abs.font-h2;
          margin-bottom: 16px;
        }

        p {
          @include abs.font-subtitle;
        }
      }
    }
  }
}

@include abs.media("xxl") {
  .articles-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .articles-list > li:first-child {
    grid-column: span 2;

    ::ng-deep .article {
      display: flex;
      flex-direction: column;
      gap: 16px;

      & > img {
        $img-width: 100%;
        max-width: $img-width;
        flex: 0 0 $img-width;
        flex-basis: auto;
      }

      & > .article__content {
        display: block;
        padding: 0 28px 23px 28px;
      }
    }
  }
}

@include abs.media("lg") {
  .articles-list {
    grid-template-columns: 1fr;
  }

  .articles-list > li:first-child {
    grid-column: span 1;
  }
}
@include abs.media("md") {
  .articles {
    margin-bottom: abs.$sections-gap-tablet;
  }
}

@include abs.media("xs") {
  .articles {
    margin-bottom: abs.$sections-gap-mobile;
  }
}

