<article class="article">
  <div class="buttons-container">
    <button
      matIconButton
      type="button"
      title="Редактировать статью"
      (click)="onEdit()"
      class="article__edit-button"
    >
      <mat-icon svgIcon="blog-app-edit"/>
    </button>
    <button
      matIconButton
      type="button"
      title="Удалить статью"
      (click)="onDelete()"
      class="article__delete-button"
    >
      <mat-icon svgIcon="blog-app-delete"/>
    </button>
  </div>
  <a
    [routerLink]="data().id"
    target="_self"
    [attr.aria-label]="`Перейти к странице статьи '${data().title}'`"
  >
    <img [src]="data().imgSrc" [alt]="'Обложка статьи ' + data().title">
    <div class="article__content">
      <h2 id="article-title">{{ data().title }}</h2>
      <p id="article-description">{{ data().content }}</p>
      <time [attr.datetime]="data().createdAt">
        {{ data().createdAt | date:"longDate":"":"ru-RU" }}
      </time>
    </div>
  </a>
</article>
