.articles-list {
    grid-template-columns: repeat(2, 1fr);
}

.articles-list > li:first-child {
    grid-column: span 2;

    & > .article {
        display: flex;
        flex-direction: column;
        gap: 16px;

        & > img {
            --img-article-width: 100%;
            flex-basis: auto;
        }

        & > .article__content {
            display: block;
            padding: 0 28px 23px 28px;
        }
    }
}