@use "base/reset";
@use "base/typography";
@use "base/animations";
@use "abstract" as abs;

html {
  scroll-behavior: smooth;
}

section {
  max-width: abs.$max-width;
  margin: 0 auto;
}

h1 {
  @include abs.font-h1;
}

h2 {
  @include abs.font-h2;
}

h3 {
  @include abs.font-h3;
}

h4 {
  @include abs.font-h4-bold;
}

p {
  @include abs.font-text;
}

form {
  display: flex;
  flex-direction: column;
}
