@use "base/reset";
@use "base/typography";
@use "base/animations";
@use "abstract" as abs;

html {
  scroll-behavior: smooth;
}

section {
  max-width: abs.$max-width;
  margin: 0 auto;
}

h1 {
  @include abs.font-h1;
}

h2 {
  @include abs.font-h2;
}

h3 {
  @include abs.font-h3;
}

h4 {
  @include abs.font-h4-bold;
}

p {
  @include abs.font-text;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 0 0 4px 4px;

  @include abs.font-form;
}

input,
textarea {
  padding: 17px 20px;
  border-radius: abs.$small-radius;
  background-color: abs.$color-background;
  border: 1px solid abs.$color-primary;
  margin-bottom: 16px;
  color: abs.$color-primary;

  @include abs.font-form;
  @include abs.transition-standard(border-color);

  &::placeholder {
    color: abs.$color-placeholder;
  }

  &:focus {
    outline: none;
    border-color: abs.$color-accent-green;
  }
}

textarea {
  resize: none;
}

// Стили для заблокированных элементов
button[disabled],
input[disabled],
textarea[disabled] {
  cursor: default;
  outline: none;
  border-color: abs.$color-placeholder;
  color: abs.$color-placeholder;
  background: linear-gradient(
      90deg,
      abs.$color-background 25%,
      #f0f0f0 50%,
      abs.$color-background 75%
  );
  background-size: 200% 100%;
  animation: loadingShimmer 3s infinite linear; // Анимация из _animations.scss
}

/* Button */
.fill-button {
  width: fit-content;
  padding: 12px 60px;
  border-radius: abs.$small-radius;
  color: abs.$color-background;
  border: 1px solid abs.$color-accent-green;
  background-color: abs.$color-accent-green;
  cursor: pointer;

  @include abs.transition-standard(background-color, color);

  @include abs.font-form;

  &:hover, &:focus {
    background-color: transparent;
    color: abs.$color-accent-green;
  }
}

.border-button {
  width: fit-content;
  padding: 12px 60px;
  border-radius: abs.$small-radius;
  border: 1px solid abs.$color-accent-green;
  color: abs.$color-accent-green;
  background-color: transparent;
  cursor: pointer;

  @include abs.transition-standard(background-color, color);

  @include abs.font-form;

  &:hover, &:focus {
    background-color: abs.$color-accent-green;
    color: abs.$color-background;
  }
}
