<mat-card class="comment-card mat-typography" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="user-avatar-circle">
      {{ comment().author | initials }}
    </div>
    <mat-card-title class="author-name">{{ comment().author }}</mat-card-title>
    <mat-card-subtitle>
      <div class="article-meta">
        <mat-icon>calendar_today</mat-icon>
        <span>{{ comment().date | date: "longDate" : "" : "ru-RU" }}</span>
      </div>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="comment-text">{{ comment().content }}</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <blog-app-rating [value]="comment().rating" (ratingChanged)="updateRating($event)"/>
  </mat-card-actions>
</mat-card>
