@use "abstract" as abs;

main {
  margin: 0 auto;
  padding: 0 abs.$padding-horizontal;
}

@include abs.media("md") {
  main {
    padding: 0 abs.$padding-horizontal-tablet;
  }
}

@include abs.media("xs") {
  main {
    padding: 0 abs.$padding-horizontal-mobile;
  }
}
