<section class="about-me">
  <div class="about-me__title">
    <h1>Привет! Меня зовут Максим, я разработчик</h1>
    <p>Активно развиваюсь в веб-разработке, изучаю современные технологии и лучшие практики. Стремлюсь создавать
      удобные и красивые интерфейсы, постоянно улучшая свои навыки</p>
    <a routerLink="." fragment="more-about-me" target="_self" aria-label="Перейти к разделу 'Больше обо мне'">Больше обо мне</a>
  </div>
  <div class="about-me__hero">
    <img src="images/hero-img.webp" alt="Горный пейзаж">
    <a routerLink="." fragment="blog" aria-label="Перейти к разделу 'Блог'">
      <img class="blog-link" src="images/my-blogs.svg" alt="Ссылка на блог">
    </a>
  </div>
</section>
