@use "abstract/variables" as vars;

@keyframes showAddArticleForm {
  from {
    height: 0;
    margin-bottom: 0;
  }

  to {
    height: 376px;
    margin-bottom: vars.$sections-gap;
  }
}

@keyframes hideAddArticleForm {
  from {
    height: 376px;
    margin-bottom: vars.$sections-gap;
  }

  to {
    height: 0;
    margin-bottom: 0;
  }
}

@keyframes loaderSpin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes loadingShimmer {
  0% { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}
