@use "abstract" as abs;

.footer {
  background-color: abs.$color-primary;
  color: abs.$color-background;
  padding: 53px abs.$padding-horizontal 16px abs.$padding-horizontal;
}

.contacts {
  margin: 0 auto;
  max-width: abs.$max-width;
  display: flex;
  gap: 120px;
}

.contacts-content__address {
  margin-bottom: 28px;
}

.contacts-content__address > p > a {
  color: abs.$color-background;
  text-decoration: none;

  @include abs.font-text;
}

.contacts-content__social {
  display: flex;
  gap: 38px;
  margin-bottom: 86px;
}

.contacts-content > h2 {
  margin-bottom: 16px;

  @include abs.font-h1
}

@include abs.media("max") {
  .contacts {
    flex-direction: column;
    gap: 16px;
  }

  .contacts-content__social {
    margin-bottom: 16px;
  }
}

@include abs.media("md") {
  .footer {
    padding: 53px abs.$padding-horizontal-tablet 16px abs.$padding-horizontal-tablet;
  }
}

@include abs.media("xs") {
  .footer {
    padding: 53px abs.$padding-horizontal-mobile 16px abs.$padding-horizontal-mobile;
  }
}
