@use "abstract" as abs;

.add-article {
  &-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    visibility: hidden;
    overflow: hidden;
    will-change: grid-template-rows, margin-bottom;
    transition:
      grid-template-rows 500ms ease-in-out,
      margin-bottom 500ms ease,
      visibility 500ms;

    &.is-open {
      grid-template-rows: 1fr;
      visibility: visible;
      margin-bottom: abs.$sections-gap;

      .add-article-content {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &-content {
    min-height: 0;
    opacity: 0;
    transform: translateY(-20px);
    transition:
      opacity 400ms ease 100ms,
      transform 400ms ease 100ms;
  }

  & > h2 {
    margin-bottom: 46px;
    @include abs.font-h3;
  }
}

.add-article-form__buttons {
  display: flex;
  gap: 20px;
  padding-bottom: 10px;
}

@include abs.media("sm") {
  .add-article-form__buttons {
    flex-direction: column;
    gap: 8px;

    & > blog-app-button {
      display: flex;
      width: 100%;
      justify-content: center;

      ::ng-deep {
        > button {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

