@use "abstract" as abs;

main {
  min-height: 100vh;
  background-color: abs.$color-background;
  color: abs.$color-primary;
  text-rendering: optimizeSpeed;
  line-height: 1;
  padding-top: abs.$header-height + 50px;

  @include abs.font-text;
}

@include abs.media("sm") {
  main {
    padding-top: abs.$header-height-mobile + 24px;
  }
}
