@use "variables" as vars;

@mixin media($size) {
  @if map-has-key(vars.$breakpoints, $size) {
    $breakpoint-value: map-get(vars.$breakpoints, $size);

    @media (max-width: #{$breakpoint-value}) {
      @content;
    }
  } @else {
    @error "Неизвестный брейкпоинт: #{$size}. Доступные значения: #{map-keys(vars.$breakpoints)}";
  }
}

// Typography adaptive mixin
@mixin font-base($weight, $size, $lh, $m-size, $m-lh) {
  font: normal #{$weight} #{$size} / #{$lh} vars.$font-family-main;

  @include media("md") {
    font-size: $m-size;
    line-height: $m-lh;
  }
}

// Typography
@mixin font-h1 {
  @include font-base(700, vars.$h1-size, vars.$h1-lh, vars.$h1-size-mobile, vars.$h1-lh-mobile);
}

@mixin font-h2 {
  @include font-base(700, vars.$h2-size, vars.$h2-lh, vars.$h2-size-mobile, vars.$h2-lh-mobile);
}

@mixin font-h3 {
  @include font-base(700, vars.$h3-size, vars.$h3-lh, vars.$h3-size-mobile, vars.$h3-lh-mobile);
}

@mixin font-h4-bold {
  @include font-base(700, vars.$h4-size, vars.$h4-lh, vars.$h4-size-mobile, vars.$h4-lh-mobile);
}

@mixin font-h4-regular {
  @include font-base(400, vars.$h4-size, vars.$h4-lh, vars.$h4-size-mobile, vars.$h4-lh-mobile);
}

@mixin font-subtitle {
  @include font-base(400, vars.$subtitle-size, vars.$subtitle-lh, vars.$subtitle-size-mobile, vars.$subtitle-lh-mobile);
}

@mixin font-form {
  @include font-base(400, vars.$form-size, vars.$form-lh, vars.$form-size-mobile, vars.$form-lh-mobile);
}

@mixin font-text {
  @include font-base(400, vars.$text-size, vars.$text-lh, vars.$text-size-mobile, vars.$text-lh-mobile);
}

// Transitions
@mixin transition-standard($properties...) {
  $props: if(length($properties) > 0, $properties, (all));

  $transitions: ();

  @each $prop in $props {
    $transitions: append(
        $transitions,
        #{$prop} vars.$transition-speed ease-in-out,
        comma
    );
  }

  transition: $transitions;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
