/* Button */
.fill-button {
    width: fit-content;
    padding: 12px 60px;
    border-radius: var(--small-radius);
    color: var(--color-background);
    border: 1px solid var(--color-accent-green);
    background-color: var(--color-accent-green);
    font: var(--font-form);
    cursor: pointer;
    transition: background-color var(--transition-speed), color var(--transition-speed);

    &:hover, &:focus {
        background-color: transparent;
        color: var(--color-accent-green);
    }
}

.border-button {
    width: fit-content;
    padding: 12px 60px;
    border-radius: var(--small-radius);
    border: 1px solid var(--color-accent-green);
    color: var(--color-accent-green);
    background-color: transparent;
    font: var(--font-form);
    cursor: pointer;
    transition: background-color var(--transition-speed), color var(--transition-speed);

    &:hover, &:focus {
        background-color: var(--color-accent-green);
        color: var(--color-background);
    }
}