@import url("reset.css");
@import url("variables.css");
@import url("base.css");
@import url("components.css");

/* Main */
main {
    padding-inline: var(--padding-horizontal);
    width: 100vw;
}

/* Header */
.header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background-color: var(--color-background);
    padding: 30px var(--padding-horizontal) 25px var(--padding-horizontal);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font: normal 500 30px/1 "Inter", sans-serif;
}

/* Navigation */
.nav-list {
    display: flex;
    gap: 25px;
}

.nav-list__item > a {
    font: var(--font-text);
    color: var(--color-secondary);
    text-decoration: none;
    transition: font-weight var(--transition-speed), color var(--transition-speed);

    &::before {
        content: attr(data-text);
        height: 0;
        font-weight: bold;
        display: block;
        visibility: hidden;
        overflow: hidden;
    }

    &:hover, &:focus {
        color: var(--color-accent-green);
        font-weight: 700;
    }
}

/* Используется атрибут id так как:
 - Данный элемент может быть лишь один на страницы
 - Для более высокой специфичности, нежели `.nav-list__item > a`
 */
#current-page-link {
    color: var(--color-accent-green);
    font-weight: 700;
}

/* Footer */
.footer {
    width: 100vw;
    background-color: var(--color-primary);
    color: var(--color-background);
    padding: 53px var(--padding-horizontal) 16px var(--padding-horizontal);
}

.contacts {
    margin: 0 auto;
    max-width: var(--max-width);
    display: flex;
    gap: 120px;
}

.contacts-content__address {
    margin-bottom: 28px;
}

.contacts-content__address > p > a {
    font: var(--font-text);
    color: var(--color-background);
    text-decoration: none;
}

.contacts-content__social {
    display: flex;
    gap: 38px;
    margin-bottom: 86px;
}

.contacts-content > h2 {
    font: var(--font-h1);
    margin-bottom: 16px;
}

.feedback {
    --form-width: 50%;
    max-width: var(--form-width);
    flex: 0 0 var(--form-width);
}

.feedback-form > input,
.feedback-form > textarea {
    background-color: var(--color-primary);
    border-color: var(--color-background);
    color: var(--color-background);
}

/* = Home page = */
/* About me Section */
.about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(40px, 7vw, 120px);
    align-items: center;
    margin: 0 auto var(--sections-gap) auto;
}

.about-me__title > h1 {
    margin-bottom: 35px;
}

.about-me__title > p {
    margin-bottom: 14px;
}

.about-me__title > a {
    font: var(--font-text);
    color: var(--color-accent-green);
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    transition: font-weight var(--transition-speed), color var(--transition-speed);

    &::after {
        content: "";
        background: url("../assets/images/link-arrow.webp") no-repeat center;
        width: 13px;
        height: 19px;
        margin-left: 23px;
        transition: margin-left var(--transition-speed);
    }

    &:hover, &:focus {
        color: var(--color-accent-green);
        font-weight: 700;
    }

    &:hover::after, &:focus::after {
        margin-left: 30px;
    }
}

.about-me__hero {
    position: relative;
    width: clamp(260px, 32vw, 520px);
    aspect-ratio: 3 / 4.2;
    margin-left: auto;
}

.about-me__hero > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 0 0 1000px 1000px;
}

.blog-link {
    position: absolute;
    width: clamp(140px, 15vw, 213px);
    top: 45%;
    left: -27%;
    transform: translateY(-50%);
    transition: transform var(--transition-speed);

    &:hover {
        transform: translateY(-50%) scale(1.1);
    }
}

/* My work Section & Study Section */
.list-section  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    margin-bottom: var(--sections-gap);
}

.list-section__title > h2 {
    font: var(--font-h1);
    margin-bottom: 13px;
}

.list-section__title > p {
    font: var(--font-subtitle);
}

.list-section__item {
    position: relative;
    display: flex;
    gap: 24px;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: var(--color-tertiary);
    }

    &:not(:last-child) {
        margin-bottom: 38px;
    }
}

.list-section__item > img {
    width: 60px;
    height: fit-content;
    object-fit: cover;
}

.list-section__item__content > h3 {
    margin-bottom: 14px;

    & > span {
        display: block;
    }

    & > span:first-child {
        font: var(--font-text);
        margin-bottom: 14px;
    }

    & > span:last-child {
        font: var(--font-subtitle);
    }
}

.list-section__item__content > p {
    margin-bottom: 38px;
}

/* Courses & Skills Section */
.table-section {
    margin-bottom: var(--sections-gap);
}

.table-section > h2 {
    font: var(--font-h1);
    margin-bottom: 51px;
}

.table-section__content {
    --list-gap: 36px;
    display: flex;
    flex-wrap: wrap;
    gap: var(--list-gap);
}

.table-section__content__item {
    flex: 1 1 calc(33% - var(--list-gap));
    min-width: 368px;
    max-width: 100%;
    border-bottom: 1px solid #e5e7eb;
    padding-bottom: 24px;
}

.table-section__content__item > h3 {
    font: var(--font-subtitle);

    & > span {
        display: block;
    }

    & > span:first-child {
        font: var(--font-text);
        margin-bottom: 8px;
    }

    & > span:last-child {
        font: var(--font-subtitle);
        margin-bottom: 24px;
    }
}

/* Achievements Section */
.achievements {
    padding-bottom: var(--sections-gap);
}

.achievements__title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    margin-bottom: 21px;
}

.achievements__title > h2 {
    font: var(--font-h1);
}

.achievements__title > p {
    font: var(--font-subtitle);
}

.achievements__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 36px;
    grid-template-areas:
        "item1 item2 item3"
        "item1 item2 item4";


    & > li:nth-child(1) {
        position: relative;
        grid-area: item1;
    }

    & > li:nth-child(2) {
        position: relative;
        grid-area: item2;
    }

    & > li:nth-child(3) {
        position: relative;
        grid-area: item3;
    }

    & > li:nth-child(4) {
        position: relative;
        grid-area: item4;
    }
}

.achievements__content > li {
    position: relative;
    overflow: hidden;
    border-radius: var(--large-radius);
}

.achievements__content > li > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.achievements__item__description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--color-background);
    padding: 24px 16px;
    border-radius: var(--large-radius);
    background-color: var(--color-overlay);
    opacity: 0;
    transition: opacity var(--transition-speed);

    &:hover, &:focus {
        opacity: 1;
    }
}

.achievements__item__description > h3 {
    font: var(--font-h4-bold);
    margin-bottom: 12px;
}

/* Blog Section */
.blog {
    margin-bottom: var(--sections-gap);
}

.blog > a {
    display: block;
    margin: 0 auto;
    text-decoration: none;
}

.blog > h2 {
    font: var(--font-h1);
    margin-bottom: 51px;
}

.blog-item {
    display: flex;
    min-height: 460px;
    margin-bottom: 60px;
    border-radius: var(--large-radius);
    overflow: hidden;

    &:nth-child(odd) {
        background-color: var(--color-light-red);
    }

    &:nth-child(odd) > header > time {
        color: var(--color-accent-red);
    }

    &:nth-child(even) {
        background-color: var(--color-light-green);
    }

    &:nth-child(even) > header > time {
        color: var(--color-accent-green);
    }
}

.blog-item > img {
    --img-article-width: 60%;
    max-width: var(--img-article-width);
    flex: 0 0 var(--img-article-width);
    aspect-ratio: var(--blog-image-aspect-ratio);
    object-fit: cover;
}

.blog-item:last-child {
    margin-bottom: 35px;
}

.blog-item__header {
    padding: 63px 49px;
    flex-shrink: 1;
}

.blog-item__header > p,
.blog-item__header > time {
    font: var(--font-text);
    margin-bottom: 8px;
}

.blog-item__header > h3 {
    font: var(--font-h4-bold);
    margin-bottom: 16px;
}

/* = Blog page = */
/* Articles statistics Dialog */
dialog {
    margin: 0 auto;
    align-self: center;
    width: min(560px, calc(100vw - 32px));
    border: 1px solid var(--color-secondary);
    border-radius: var(--large-radius);
    color: var(--color-primary);
    background-color: var(--color-background);
    box-shadow: 0 18px 60px rgba(0, 0, 0, .55);
}

dialog::backdrop {
    background: var(--color-overlay);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.modal {
    padding: 18px;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.modal__header > h2 {
    font: var(--font-h3);
}

.modal__header > button {
    padding: 12px;
    border-color: var(--color-accent-red);
    color: var(--color-accent-red);

    &:hover, &:focus {
        background-color: var(--color-accent-red);
        color: var(--color-background);
    }
}

.model__stats-list {
    display: flex;
    gap: 26px;
}

.model__stats-list > li {
    flex-grow: 1;
}

.stats-card {
    padding: 12px 16px;
    background-color: var(--color-background);
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.25);
    border-radius: var(--large-radius);
}

.stats-card > h3 {
    font: var(--font-h4-regular);
    margin-bottom: 10px;
}

.stats-card > p {
    font: var(--font-h2);
}

/* Side menu */
.side-menu {
    position: fixed;
    top: 20vw;
    right: 0;
    z-index: 1000;

    &:hover > .side-menu__container {
        right: 0;
    }
}

.side-menu__container {
    position: absolute;
    right: -35px;
    transform: translateY(-50%);
    width: 48px;
    background-color: var(--color-background);
    border-radius: var(--large-radius) 0 0 var(--large-radius);
    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.25);
    padding: 27px 15px;
    transition: right 0.5s ease-in-out; /* анимация перемещения */
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.side-menu__container > button {
    & > img {
        transition: transform var(--transition-speed);
    }

    &:hover > img, &:focus > img {
        transform: scale(1.05);
    }
}

/* Blog header */
.blog-header {
    display: flex;
    justify-content: space-between;
    gap: 160px;
    margin-bottom: var(--sections-gap);
}

.blog-header__title > h1 {
    margin-bottom: 25px;
}

.blog-header__title > p {
    font: var(--font-subtitle);
}

.blog-header__hero > img {
    min-width: clamp(140px, 15vw, 213px);
}

/* Blog articles Section */
.articles {
    margin-bottom: var(--sections-gap);
}

.articles > button {
    display: block;
    width: fit-content;
    margin: 0 auto;

    & > svg {
        margin-left: 10px;

        & > path {
            fill: currentColor;
        }
    }

    &:hover, &:focus {
        background-color: var(--color-accent-green);
        color: var(--color-background);
    }
}

.articles-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
    column-gap: 34px;
    row-gap: 64px;
    margin-bottom: 64px;
}

.articles-list:empty {
    display: block;
    text-align: center;
    padding-bottom: calc(var(--sections-gap) * 2);

    &::after {
        content: "Нет статей";
        color: var(--color-secondary);
    }
}

.articles-list:empty + button {
    display: none;
}

.article {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
}

.article > button {
    --button-delete-article-size: 24px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
    width: var(--button-delete-article-size);
    height: var(--button-delete-article-size);
    background-color: var(--color-background);
    border: 1px solid transparent;
    border-radius: var(--small-radius);
    transition: border var(--transition-speed), background-color var(--transition-speed);

    &::after {
        content: "";
        display: block;
        background-image: url("../assets/images/delete-article.webp");
        width: 100%;
        height: 100%;
    }

    &:hover,
    &:focus {
        background-color: transparent;
        border: 1px solid var(--color-accent-green);
    }
}

.article > img {
    aspect-ratio: var(--blog-image-aspect-ratio);
    border-radius: var(--large-radius);
}

.article__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.article__content > h2 {
    display: none;
}

.article__content > p {
    font: var(--font-h4-regular);
    margin-bottom: 21px;
}

.article__content > time {
    font: var(--font-text);
}

.articles-list > li:first-child {
    grid-column: span 3;

    & > .article {
        background-color: var(--color-featured);
        border-radius: var(--large-radius);
        overflow: hidden;
        display: flex;
        flex-direction: row;
        gap: 46px;
        margin-bottom: 62px;

        & > img {
            --img-article-width: 60%;
            max-width: var(--img-article-width);
            flex: 0 0 var(--img-article-width);
            height: auto;
            object-fit: cover;
        }

        & > .article__content {
            display: block;
            padding: 23px 28px 0 0;
        }

        & > .article__content > h2 {
            display: initial;
            font: var(--font-h2);
            margin-bottom: 16px;
        }

        & > .article__content > p {
            font: var(--font-subtitle);
            margin-bottom: 16px;
        }

        & > .article__content > time {
            font: var(--font-text);
        }
    }
}

/* Add article Section */
.add-article:not([data-hidden]) {
    overflow: hidden;
}

#add-article:not([data-hidden]) {
    animation: showAddArticleForm 250ms ease both;
    height: 376px;
    margin-bottom: var(--sections-gap);
}

#add-article[data-hidden] {
    animation: hideAddArticleForm 250ms ease;
    height: 0;
    margin-bottom: 0;
}

.add-article > h2 {
    font: var(--font-h3);
    margin-bottom: 46px;
}

.add-article-form__buttons {
    display: flex;
    gap: 20px;
}

.add-article__reset {
    border-color: var(--color-accent-red);
    color: var(--color-accent-red);

    &:hover, &:focus {
        background-color: var(--color-accent-red);
        color: var(--color-background);
    }
}