<header class="header">
  <span class="header-logo" aria-label="Логотип">MaksFlyOk</span>
  <nav aria-label="Основная навигация">
    <ul class="nav-list">
      @for (link of links; track link.dataText) {
        @let type = link.type;

        @if (type === HeaderLinkTypes.Page) {
          <li class="nav-list__item">
            <a
              [routerLink]="link.routerLink"
              routerLinkActive="current-page-link"
              [routerLinkActiveOptions]="{exact: link.routerLink === ''}"
              target="_self"
              aria-current="page"
              [attr.aria-label]="link.ariaLabel"
              [attr.data-text]="link.dataText"
            >
              {{ link.dataText }}
            </a>
          </li>
        }

        @if (type === HeaderLinkTypes.Anchor) {
          <li class="nav-list__item">
            <a
              [routerLink]="[]"
              [fragment]="link.fragment"
              target="_self"
              [attr.aria-label]="link.ariaLabel"
              [attr.data-text]="link.dataText"
            >
              {{ link.dataText }}
            </a>
          </li>
        }
      }
    </ul>
  </nav>
</header>
