@use "abstract" as abs;

.add-article {
  &-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition:
      grid-template-rows 300ms ease-in-out,
      opacity 250ms ease,
      margin-bottom 300ms ease;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;

    &.is-open {
      grid-template-rows: 1fr;
      opacity: 1;
      visibility: visible;
      margin-bottom: abs.$sections-gap;
    }
  }

  &-content {
    min-height: 0;
  }

  & > h2 {
    margin-bottom: 46px;
    @include abs.font-h3;
  }
}

.add-article-form__buttons {
  display: flex;
  gap: 20px;
  padding-bottom: 10px;
}

@include abs.media("sm") {
  .add-article-form__buttons {
    flex-direction: column;
    gap: 8px;

    & > blog-app-button {
      display: flex;
      width: 100%;
      justify-content: center;

      ::ng-deep {
        > button {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

