@use "abstract" as abs;

main {
  margin: 0 auto;
  padding: 0 abs.$padding-horizontal;
}

.model__stats-list {
  display: flex;
  gap: 26px;
}

.model__stats-list > li {
  flex-grow: 1;
}

.stats-card {
  padding: 12px 16px;
  background-color: abs.$color-background;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.25);
  border-radius: abs.$large-radius;
}

.stats-card > h3 {
  margin-bottom: 10px;

  @include abs.font-h4-regular;
}

.stats-card > p {
  @include abs.font-h2;
}

/* Side menu */
.side-menu {
  position: fixed;
  top: 20vw;
  right: 0;
  z-index: 1000;

  &:hover > .side-menu__container {
    right: 0;
  }
}

.side-menu__container {
  position: absolute;
  right: -35px;
  transform: translateY(-50%);
  width: 48px;
  background-color: abs.$color-background;
  border-radius: abs.$large-radius 0 0 abs.$large-radius;
  box-shadow: -3px 0 10px rgba(0, 0, 0, 0.25);
  padding: 27px 15px;
  transition: right 0.5s ease-in-out; /* анимация перемещения */
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.side-menu__container > button {
  & > img {
    transition: transform var(--transition-speed);
  }

  &:hover > img, &:focus > img {
    transform: scale(1.05);
  }
}

/* Blog header */
.blog-header {
  display: flex;
  justify-content: space-between;
  gap: 160px;
  margin-bottom: abs.$sections-gap;
}

.blog-header__title > h1 {
  margin-bottom: 25px;
}

.blog-header__title > p {
  @include abs.font-subtitle;
}

.blog-header__hero > img {
  min-width: clamp(140px, 15vw, 213px);
}

@include abs.media("xxl") {
  .articles-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .articles-list > li:first-child {
    grid-column: span 2;

    & > .article {
      display: flex;
      flex-direction: column;
      gap: 16px;

      & > img {
        --img-article-width: 100%;
        flex-basis: auto;
      }

      & > .article__content {
        display: block;
        padding: 0 28px 23px 28px;
      }
    }
  }
}

@include abs.media("lg") {
  .blog-header {
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }

  .side-menu__container {
    transform: translateY(50%);
  }
}

@include abs.media("md") {
  main {
    padding: 0 abs.$padding-horizontal-tablet;
  }
}

@include abs.media("sm") {
  .model__stats-list {
    display: flex;
    flex-direction: column;
  }
}

@include abs.media("xs") {
  main {
    padding: 0 abs.$padding-horizontal-mobile;
  }
}
